name: Build
on:
  pull_request:
  push:
    branches:
      - '*'
    tags:
      - '*'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Import signing key
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: |
          echo "${GPG_KEY}" | base64 -d | gpg --batch --import && echo "${GPG_KEY}" | base64 -d >/tmp/signing.gpg
        env:
          GPG_KEY: "${{ secrets.GPG_KEY }}"
      - name: Run GoReleaser (snapshot)
        if: ${{ ! startsWith(github.ref, 'refs/tags/') }}
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: build --snapshot --rm-dist
      - name: Run GoReleaser (release)
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v3
        with:
          name: build-results
          path: build
          if-no-files-found: error
